body {
    font-family: 'Open Sans', sans-serif;
    color: #686868;
}

a {
    color: #5BB7D5;
}

text {
    color: #FFFFFF !important;
    font-family: 'Open Sans', sans-serif;
}

.org-hr {
    border-color: #ddd;
}

.navbar {
    background-color: #5BB7D5;
    border:0;
}

.nav > li > a:hover {
    background-color: #5BB7D5;
}

.navbar a {
    color: #FFFFFF;
}

.main-content {
    padding-top: 80px;
}

.main-content h1 {
    text-align: center;
}

.sub-paragraph {
    font-size: 12px;
}

.copyright {
    text-align: center;
}

.disclaimer {
    font-style: italic;
    font-size: 12px;
}

.bottom-information {
    margin: 200px 0 0 0;
}

.organization-information-container {
    border: 3px solid #F1F1F1;
    padding: 8px;
}

.example {
    font-size: 12px;
}

.tag {
    padding: 1px 4px;
    background: #5BB7D5;
    color: #FFFFFF;
    margin: 0 2px 0 0;
    border-radius: 3px;
    cursor: pointer;
}

.no-results {
    width: 100%;
    font-size: 18px;
    padding: 80px 0 80px 0;
    text-align: center;
}

.map {
    width: 100%;
    height: 550px;
}

.bubble-info {
    background: #FFFFFF;
    border:1px solid #A2A2A2;
    padding: 4px;
    font-size: 12px;
    color: #686868;
}

.pie-charts h2 {
    text-align: center;
    font-size: 18px;
}

.pie-chart {
    text-align: center;
    margin: 45px 0 0 0;
    min-height: 450px;
}

.organization-header {
    color: #5C5C5C;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 3px 0;
}

#organization-count {
    float: right;
}

.organization-information-container {
    overflow: scroll;
    max-height: 480px;
}

.organization-information-block {
    padding: 3px;
}

.label-block {
    margin: 0;
    padding: 0;
}

.label-title {
    font-weight: bold;
    font-size: 13px;
}

.label-content {
    font-size: 13px;
}

