<div class="organization-information-block">
  <div class="label-block">
    <span class="label-title">Organization</span>
    <div class="label-content">
      {{organization}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Primary contact</span>
    <div class="label-content">
      {{primarycontact}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Website</span>
    <div class="label-content">
      <a href="{{url}}" target="_blank">{{url}}</a>
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Contact info</span>
    <div class="label-content">
      {{additionalcontactinfo}}
    </div> 
  </div>

  <div class="label-block">
    <span class="label-title">City</span>
    <div class="label-content">
      {{city}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">State</span>
    <div class="label-content">
      {{state}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Mission</span>
    <div class="label-content">
      {{mission}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Tags</span>
    <div class="label-content">
      {{#displayTags}}<span class="tag">{{.}}</span>{{/displayTags}}   
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Structure</span>
    <div class="label-content">
      {{structure}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Giving instructions</span>
    <div class="label-content">
      {{giving}}
    </div>
  </div>
</div>

<hr class="org-hr">